.landing {
  .leftSec {
    h1 {
      font-family: "Integral CF Bold Oblique", sans-serif !important;
      font-weight: 700;
    }
  }

  .rightSec {
    height: 100%;
    overflow: hidden;
    img {
      // width: 100%;
      max-width: 100%;
    }
  }
}
button {
  //   padding: 20px 70px;
  border-radius: 44px;
  transition: 0.5s;
  &:hover {
    background-color: #f2f0f1;
    color: #000000;
    transform: translateY(-5px);
  }
}
