header {
  .signup {
    font-family: "Satoshi Regular", sans-serif;
    font-weight: 400;
  }

  nav {
    // background: #FFFFFF;
    .serch {
      input:focus {
        outline: 1px solid #777;
      }
    }
  }
}

.isOpen {
  transform: rotate(180deg);
}

.trs-5 {
  transition: 0.5s;
}

.none {
  display: none;
}

@media (max-width: 1350px) {
  .container {
    flex-direction: column;
    nav {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

@media (max-width: 1110px) {
  .lock {
    display: none;
  }
  .none {
    display: block;
  }
  .container {
    flex-direction: row;
    align-items: center;

    nav {
      flex-direction: row;

      .links {
        text-align: center;
        flex-direction: column;
        position: absolute;
        top: 55px;
        right: 56%; // عدلت من 60% إلى 0 لتظهر القائمة بمحاذاة الجانب الأيمن
        background-color: #ffffff; // غيرت اللون من أحمر إلى أبيض
        width: 60%; // يمكنك تعديله حسب ما يناسب التصميم أكثر
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // لإضافة ظل بسيط وجمالي
        padding: 1rem;
        border-radius: 0.5rem;
        z-index: 100;
      }

      .serch {
        display: none;

        img {
          top: 0;
          right: 0;
          width: 50px;
        }

        input {
          display: none;
        }
      }
    }
  }
}
